#root {
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

.quiz {
  background-color: rgb(165, 184, 241);
  padding: 9px;
}

.nav {
  width: 1000px;
  margin: 0px;
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  background: rgb(230 230 230);
  background-blend-mode: darken;
  background-size: cover;
  padding: 10px 20px;
}

.icon {
  float: left;
}

.titleText {
  font-weight: 700;
}